<div class="contacto">
    <div>
        <div class="tituloGracias">
            <p class="gracias">¡Gracias por visitar mi Web!</p>
        </div>
        <p>Busco un puesto de desarrollador web donde poder ampliar conocimientos y trabajar
            en equipo en aras de poder desarrollarme profesionalmente.
        </p>
        <p>Para cualquier consulta estoy disponible para realizar una entrevista.</p>
    </div>
    <h2 class="titulo">Contacto:</h2>
    <ul>
        <li><span class="apartado">Número de Teléfono:</span> 678479970</li>
        <li><span class="apartado">Correo Electrónico:</span><a class="enlace" href="mailto:serperalca@gmail.com"> Enviarme Correo Electrónico *</a></li>
        <li><span class="apartado">Linkedin:</span> <a class="enlace" href="https://www.linkedin.com/in/sergio-p%C3%A9rez-alcarria-4439a41a0/"> Mi Linkedin</a></li>
        <li><span class="apartado">Sitio web:</span><a class="enlace" href="https://portafolios-a03bf.web.app/"> Mi sitio web (Alojado en FireBase)</a></li>
    </ul>
    <div class="nota">
        <p>*: Si no se abre el email es posible que tenga un correo predeterminado mal configurado o un componente del navegador
        intefiriendo. De ser así, puede copiar mi correo desde aquí : serperalca@gmail.com</p>
    </div>
</div>
