<div id="main">
    <div id="photo">
    <img src="http://files1.cvmkr.com/67e992_3928608_11610934.jpg" alt="" />
</div>
<div class="header photo">

<h1 id="title">Sergio Pérez Alcarria</h1>
<div class="basic-info section">
<h2 class="title">Contactos</h2>
<div class="set">

                    <p class="address">
            <span class="value">
                Madrid, 28029, Plaza Este, 6					</span>
        </p>
                <div class="r">
                            <p class="email"><label>Correo electrónico<span class="colon">:</span></label> <span class="value">serperalca@gmail.com</span></p>
        
        
                            <p class="phone"><label>Teléfono<span class="colon">:</span></label> <span class="value">678479970</span></p>
                    </div>
    <div class="clear"> </div>
</div><!-- set //-->
<div class="clear"> </div>
</div><!-- basic-info //-->

    </div><div class="clear"> </div>


    <div class="section section-work">
    <h2 class="title">Experiencia laboral</h2>
    <div class="set">
                        <div class="item">
                            <h3><span class="company l">GFI INETUM</span>
                    <span class="date r">2020 &mdash; 2020</span>
                        </h3>
                        <div class="clear"> </div>
                        <span class="job_title">Desarrollador Web</span><div class="info"><div><br /></div><div>Realicé prácticas de CFGS de DAW. Desarrollé pequeños proyectos con REACTJS y ANGULAR. Creación de componentes con llamadas REST, uso de librerías como CHARTJS, diseño RESPONSIVE, siguiendo siempre el modelo de Principios SOLID. Trabajé con tecnologías como JAVASCRIPT, TYPESCRIPT, HTML5, CSS3, SASS, JQUERY,  WebPack.</div><div><br /></div></div><div class="clear"> </div>
                        </div>
                    
                        <div class="item">
                            <h3><span class="company l">Compusof</span>
                    <span class="date r">2020 &mdash; 2020</span>
                        </h3>
                        <div class="clear"> </div>
                        <span class="job_title">Soporte Técnico Informático</span><div class="info"><div><br /></div><div>Formé parte de un proyecto temporal prestando servicio directamente al Ayuntamiento de Madrid.</div><div>Mi labor consistía en la maquetación, configuración, instalación de software y soporte de equipos. Trabajé con el paquete de OFFICE, OFFICE 365, VPN y REMEDY.</div></div><div class="clear"> </div>
                        </div>
                    
                        <div class="item">
                            <h3><span class="company l">Diusframi, Grupo Netolympus.</span>
                    <span class="date r">2019 &mdash; 2020</span>
                        </h3>
                        <div class="clear"> </div>
                        <span class="job_title">Soporte Técnico Informático</span><div class="info"><div><br /></div>Como Soporte técnico he dado soporte a comercios y oficinas bancarias en todo los relacionado con TPVs. Resolvía incidencias telematicamente por medio de aplicaciones de "ticketing" como THOR u ODIN de REDSYS. Resolvía incidencias de nivel 1 y nivel 2 escalando a Redsys las incidencias de más nivel. </div><div class="clear"> </div>
                        </div>
                    
                        <div class="item">
                            <h3><span class="company l">Expacom, Servicios Integrales</span>
                    <span class="date r">2018 &mdash; 2018</span>
                        </h3>
                        <div class="clear"> </div>
                        <span class="job_title">Soporte Técnico</span><div class="info"><div><br /></div><div>Realicé las prácticas de CFGM Sistemas Informáticos y Redes en esta empresa. Al principio mis tareas fueron la resolución de incidencias de nivel 1 a través de herramientas de ticketing de forma remota. Además, me encargué de supervisar las copias de seguridad de los diferentes servidores de los clientes. Más tarde, empecé a asumir incidencias de más nivel y la instalación de equipos y servidores(Windows Server 2012 y 2016). </div><div><br /></div><div>También administraba los dominios de las empresas clientes así como migraciones y configuraciones en OFFICE 365. Hice instalación de AP y reparación de TPV a nivel de hardware.</div><div><br /></div></div><div class="clear"> </div>
                        </div>
                    
                        <div class="item">
                            <h3><span class="company l">Securitas AB</span>
                    <span class="date r">2011 &mdash; 2018</span>
                        </h3>
                        <div class="clear"> </div>
                        <span class="job_title">Auxiliar de Servicios</span><div class="info"><div><br /></div>Como Auxiliar de servicios realicé tareas orientadas a la seguridad y control de mercancía de grandes almacenes (El Corte Inglés). Como personal de seguridad tuve formación en prevención de riesgos laborales, así como en situaciones de emergencia como incendios o avisos de bomba. También trabajé en muelles de carga y descarga controlando la mercancía y administrando los albaranes de los camiones de transporte. </div><div class="clear"> </div>
                        </div>
                    </div>
    <div class="clear"> </div>
</div>
    <div class="section section-qualifications">
    <h2 class="title">Cualificaciones</h2>
    <div class="set">
                    <div class="item">
                        <span class="info">Titulo FP Grado Superior <span style="font-weight:bold;">Desarrollo de Aplicaciones WEB</span> (<span style="font-weight:bold;">DAW</span>).<div>-IES Tetúan de las Victorias.</div><div><br /></div><div>Título FP Grado Medio <span style="font-weight:bold;">Sistemas Informáticos y Redes</span>. (<span style="font-weight:bold;">SMR</span>)</div><div>-IES Tetuán de las Victorias.</div><div><br /></div><div>Título de <span style="font-weight:bold;">Educación Secundaria Obligatoria</span>. (<span style="font-weight:bold;">ESO</span>)</div><div><br /></div><div>-IES Guzman El Bueno.</div></span>
                    </div>
                </div>
    <div class="clear"> </div>
</div>
    <div class="section section-education">
    <h2 class="title">Educación</h2>
    <div class="set">
                <div class="item">
                    <h3><span class="course l">FP Grado Superior Desarrollo de Aplicaciones WEB DAW.</span>
                <span class="date r">2018 &mdash; 2020</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="school">IES TETUAN DE LAS VICTORIAS</span><div class="info"><div><br /></div>- LENGUAJES ( PHP, JAVASCRIPT, JAVAEE)<div><br /></div><div>- FRAMEWORKS ( ANGULAR, LARAVEL, BOOTSTRAP)</div><div><br /></div><div>- LIBRERIAS (JQUERY, JQUERY IU, REACTS, CHARTJS ).</div><div><br /></div><div>- AJAX</div><div><br /></div><div><div>- LENGUAJES DE MARCAS ( HTML5, CSS3, XML, XSL, JSON )</div><div><br /></div><div>- CONOCIMIENTO DE UML.</div><div><br /></div><div>- GESTORES DE CONTENIDO ( DOKUWIKI, WORDPRESS, JOOMLA)</div><div><br /></div><div>- IDE : ECLIPSE, VISUAL STUDIO.</div><div><br /></div><div>- BBDD RELACIONALES. </div><div><br /></div><div>- CONOCIMIENTO LENGUAJE SQL.</div><div><br /></div><div><br /></div></div></div><span class="clear"> </span>
                </div>
                
                <div class="item">
                    <h3><span class="course l">FP Grado Medio Sistemas Informáticos y Redes. SMR</span>
                <span class="date r">2016 &mdash; 2018</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="school">IES TETUAN DE LAS VICTORIAS</span><div class="info">- NIVEL ALTO OFIMÁTICA.<div><br /><div>- ACTIVE DIRECTORY.</div><div><br /></div><div>- ADMINISTRACIÓN DE DOMINIOS.</div><div><br /></div><div>- CONFIGURACIÓN DE REDES.</div><div><br /></div><div>- LENGUAJE DE MARCAS.</div><div><br /></div><div>-SEGURIDAD INFORMÁTICA. </div></div><div><br /></div><div>-CONOCIMIENTOS EN DIVERSOS S.O. (linux, windows).</div><div><br /></div><div>- INSTALACIÓN DE HARDWARE.</div><div><br /></div><div>-USO COMANDOS LINUX Y WINDOWS.</div></div><span class="clear"> </span>
                </div>
                
                <div class="item">
                    <h3><span class="course l">Educación Secundaria Obligatoria. ESO</span>
                <span class="date r">2011 &mdash; 2015</span>
                    </h3>
                    <div class="clear"> </div>
                    <span class="school">IES GUZMAN EL BUENO</span><span class="clear"> </span>
                </div>
                </div>
    <div class="clear"> </div>
</div>
    <div class="section section-interests">
    <h2 class="title">Intereses</h2>
    <div class="set">
                    <div class="item">
                        <span class="info">Estoy interesado en un puesto de DESARROLLADOR FRONT. Busco un puesto donde poder desarrollarme profesionalmente, aprender y poner esos conocimientos y habilidades obtenidas en práctica.</span>
                    </div>
                </div>
    <div class="clear"> </div>
</div>
    <div class="section section-1579772962995">
    <h2 class="title">Linkedin</h2>
    <div class="set">
                    <div class="item">
                        <span class="info">Enlace a mi <span style="font-weight:bold;">Linkedin</span>: <a>https://www.linkedin.com/in/sergio-p%C3%A9rez-alcarria-4439a41a0/</a></span>
                    </div>
                </div>
    <div class="clear"> </div>
</div>

</div>
