<nav class="navbar navbar-expand-sm navbar-dark bg-dark menuPadre">
    <a class="navbar-brand nombre">Sergio Pérez</a>
    <blockquote class="blockquote">
        <p class="mt-0 profesion">Desarrollador web</p>
    </blockquote>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarNav">
        <div class="navbar-nav enlaces text-center">
            <a class="nav-link links" href="misproyectos" (click)="direccionar('misproyectos')">Mis Proyectos</a>
            <a class="nav-link links" href="cv" (click)="direccionar('cv')">Mi CV</a>
            <a class="nav-link links" href="contacto" (click)="direccionar('contacto')">Contacto</a>
          </div>
      </div>
     
    </nav>